{% extends "layout.html" %}
{% block title %}Edit Computer{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <form action="/computers/edit/{{ post.id }}" method="POST">
      <div class="row">
        <div class="col-md-4">
          <label>ID: {{ post.id }}
          </label>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Name:
            <textarea type="text" name="name_form">{{ post.name }}</textarea>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Time Stamp: {{ post.create_ts }}
          </label> 
        </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Skill Level:
            <textarea type="number" name="skill_level_form">{{ post.skill_level }}</textarea>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Email:
            <textarea type="text" name="email_address_form">{{ post.email_address }}</textarea>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Trade:
            <select type="text" name="trade_form">
              <option {% if post.trade == "Accounting"%}{{'selected="selected"' }}{% endif %}value="Accounting">Accounting</option>
              <option {% if post.trade == "CAD"%}{{'selected="selected"' }}{% endif %}value="CAD">CAD</option>
              <option {% if post.trade == "Estimating"%}{{'selected="selected"' }}{% endif %}value="Estimating">Estimating</option>
              <option {% if post.trade == "PM"%}{{'selected="selected"' }}{% endif %}value="PM">PM</option>
              <option {% if post.trade == "Piping Plumbing"%}{{'selected="selected"' }}{% endif %}value="Piping Plumbing">Piping Plumbing</option>
              <option {% if post.trade == "Sheet Metal"%}{{'selected="selected"' }}{% endif %}value="Sheet Metal">Sheet Metal</option>
              <option {% if post.trade == "Safety"%}{{'selected="selected"' }}{% endif %}value="Safety">Safety</option>
              <option {% if post.trade == "Shop"%}{{'selected="selected"' }}{% endif %}value="Shop">Shop</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <button class="button postfix" type="submit">Finish</button>
        </div>
      </div>
    </form>
{% endblock %}
