{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    
      <div class="row">
      
      <!-- Main Page Content and Sidebar -->
        {% for post in post %}
      <div class="row">
      
        <!-- Main Blog Content -->
        <div class="large-9 columns" role="content">
      
          <article>
      
            <h3>{{ post.name }}</h3>
             
            <div class="row">
              <div class="large-6 columns">
                <p>{{ post.text }}</p>
                <p><a href="{{ url_for('edit', id=post.id) }}">Edit</a></p>
                <p><a href="{{ url_for('delete', id=post.id) }}">Delete</a></p>
              </div>
            </div>
          </article>
      
          <hr />
        </div>
      </div>
       {% endfor %}

    
{% endblock %}